.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background-color: aliceblue;
    padding-bottom: 30px;
    width: 640px;
    border-radius: 22px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 30px;
}
.text{
    text-align: center;
    color: rgb(0, 162, 255);
    font: 1em sans-serif;
    font-size: 40px;
    font-weight: 100;
}

.underline{
    width: 200px;
    height: 6px;
    background: rgb(0, 162, 255);
    border-radius: 20px;
}
.inputs{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 50px;
    background-color: rgb(160, 213, 243);
    border-radius: 45px;
}
.input img{
    margin:  0px 12px;
    width: 50px;
    height: 50px;
}
.input input{
    border-radius: 20px;
    width: 220px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
}
/* .forgot-password{
    font-size: 14px;
    margin:auto ;
    color: rgb(0, 162, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    
} */
.submit-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.submit-container :hover{
    background-color: gainsboro;
    color: black;
}
.submit{
    font-size: 18px;
    background-color: rgb(0, 162, 255);
    border:0cap;
    width: 200px;
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
    color: aliceblue;
    text-decoration: none;
}


.text-error{
    color: red;
    font-size: 14px;
    display: block;
}
